body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;

  background: rgb(10, 10, 34);
}

canvas {
  background: rgb(10, 10, 34);
  display: block;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}
